body {
  background: #CCC;
  font-family: Calibri, sans-serif
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

nav {
  margin: 0px;

}

ul.topNav  {
  border-radius: 50px;
  width: 100%;
}

ul {
  padding: 0;
	margin: 0;
  background-color: #500000;
	float: left;
}

li {
  display: inline;
  position: relative;
  width: 10rem;
  text-align: center;
  float: left;
  padding: 1rem 2rem;
  color: #fff;
  font-size: 1.5rem;
  }

ul ul {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #3C0000;
  display: none;
   box-shadow: 0rem 1rem 2rem 0rem rgba(0,0,0,0.2);
}

ul ul li {
  font-size: 1rem;
}

ul ul ul {
  left: 100%;
  top: 0;
  background-color: #280000;
   box-shadow: 0rem 1rem 2rem 0rem rgba(0,0,0,0.4);
}

ul ul ul li {
  font-size: 1rem;
}

li:hover > ul {
  display: block;
}

#pageView div {
  display: block;
  background: rgba(0,0,255,0);
}

#pageView iframe {
  display: block;
  width: 100%;
  height: 800px;
  overflow: hidden;
  border: none;
}
